.table-section {
  /* background: gold; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* border: 2px solid red; */
  padding: 1rem;
  align-items: center;
}

.table-filter-container {
  display: flex;
  gap: 2rem;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.search-container {
  display: flex;
  gap: 1rem;
}

@media (width > 1200px) {
  .table {
    width: 70%;
  }
}

@media (width < 768px) {
  .table {
    width: 100%;
  }

  .table-section {
    gap: 0.5rem;
  }

  .table-filter-container {
    gap: 1rem;
  }
}

@media (width < 576px) {
  .table {
    td,
    tr,
    th {
      padding: 0.4rem 0.5rem !important;
    }
  }
  .table-filter-container {
    gap: 0.5rem;
  }
  .search-container {
    flex-direction: column;
  }
  .table-filter-container {
    font-size: 0.8rem;
  }
}

@media (width < 390px) {
  .table-filter-container {
    flex-direction: column;

    text-align: center;
    span {
      margin-right: 0.3rem;
    }
  }
}

@media (width < 340px) {
  .source-search {
    width: 200px !important;
  }
}
