.app-container {
  display: flex;
  min-height: 90vh;
  margin: 2rem;
  border-radius: 20px;
  background-color: #d3d3d3;
}

.content-container {
  background-color: #e9e7e7;
  flex-grow: 1;
  margin: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.content-header {
  border-bottom: 1px solid #b9b9b9;
  margin-top: 0.9rem;
  padding-left: 2rem;
}

.content-body {
  padding-left: 1rem;
}

/* 
.loader {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.sign-out-btn {
  position: absolute;
  right: 15px;
  top: 20px;
}

.status-board {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin: 0 auto;
  justify-content: center;
}

.card {
  height: 13rem;
  align-content: center;
  width: 25rem;
  padding-left: 1rem;
  border: 2px solid #d0d2d4;
  border-radius: 20px;
}

.hello-user {
  min-height: 2rem;
  text-align: center;
}

/* ! CHARTS */
.charts-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin-top: 2rem !important;

  .chart {
    /* min-height: 10rem; */

    div {
      min-width: 20rem;
    }
  }
}

.no-transactions-img {
  width: 300px;
}

.no-transactions-text {
  font-size: 1.2rem;
}

/* ! MEDIA QUERIES */

@media (width > 1200px) {
  .line-graph-container {
    width: 70%;
  }

  .pie-chart-container {
    width: 40%;
  }
}

@media (width < 1200px) {
  .line-graph-container {
    width: 80%;
  }

  .pie-chart-container {
    width: 50%;
  }
}

@media (width < 768px) {
  .line-graph-container {
    width: 90%;
  }

  .pie-chart-container {
    width: 70%;
  }
}

@media (width < 576px) {
  .sign-out-btn {
    right: 5px;
    top: 10px;
  }

  .status-board {
    flex-direction: column;

    .card {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 0.3rem;
      height: 4rem;
      margin: 0 auto;
      gap: 0.2rem;
      width: 95%;
    }

    h3 {
      font-size: 0.9rem;
      margin: 0;
    }

    h1 {
      font-size: 1.1rem;
    }

    button {
      padding: 0 0.4rem;
      font-size: 0.9rem;
    }
  }

  .line-graph-container {
    width: 90%;
  }

  .pie-chart-container {
    width: 90%;
  }
}

@media (width <= 450px) {
  .status-board {
    .card {
      gap: 0.2rem;
    }

    h3 {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1rem;
    }

    button {
      padding: 0 0.4rem;
      font-size: 0.8rem;
    }
  }

  .no-transactions-text {
    font-size: 1rem;
  }
}

@media (width < 340px) {
  .no-transactions-img {
    width: 200px;
  }

  .pie-chart-container {
    width: 100%;
  }
}
/* 
  Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in BootstrapXS
  
  Small devices (landscape phones, 576px and up)SM
  @media (min-width: 576px) { ... }
  
  Medium devices (tablets, 768px and up)MD
  @media (min-width: 768px) { ... }
  
  Large devices (desktops, 992px and up)LG
  @media (min-width: 992px) { ... }
  
  Extra large devices (large desktops, 1200px and up)Xl
  @media (min-width: 1200px) { ... }
  */
