.app-container {
  min-height: 90vh;
}

.content-container {
  max-width: 85%;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-top: 1rem;
}

.loader {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-out-btn {
  position: absolute;
  right: 15px;
  top: 20px;
}

.balance-container {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  /* border: 2px solid aqua; */
  margin: 0 auto;
  justify-content: center;
}

.main-section {
  /* border: 2px solid goldenrod; */
}

.card {
  /* border: 2px solid red; */
  height: 13rem;
  align-content: center;
  width: 25rem;
  padding-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
}

.card.card-balance {
  background: rgb(25, 36, 0);
  background: linear-gradient(
    90deg,
    rgba(25, 36, 0, 1) 0%,
    rgba(52, 52, 201, 1) 0%,
    rgba(5, 100, 181, 1) 39%,
    rgba(0, 113, 255, 1) 79%,
    rgba(0, 99, 255, 1) 100%
  );

  color: white;

  h3 {
    margin-top: -0.5rem;
  }
}

.hello-user {
  min-height: 2rem;
  text-align: center;
}

/* ! CHARTS */

.charts-container {
  /* background-color: beige; */
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;

  .chart {
    min-height: 20rem;

    div {
      min-width: 20rem;
    }
  }
}

.line-graph-container {
  /* border: 1px solid black; */
  width: 60%;
}

.pie-chart-container {
  /* border: 1px solid black; */
  width: 30%;
}

.no-transactions-img {
  width: 300px;
}

.no-transactions-text {
  font-size: 1.2rem;
}

/* ! MEDIA QUERIES */

@media (width < 796px) {
  .balance-container {
    h3 {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1rem;
    }

    button {
      padding: 0 0.4rem;
      font-size: 0.8rem;
    }
  }

  .charts-container {
    flex-direction: column;
    align-items: center;
  }

  .line-graph-container {
    /* border: 1px solid black; */
    width: 100%;
  }

  .pie-chart-container {
    /* border: 1px solid black; */
    width: 60%;
  }
}

@media (width < 576px) {
  .content-container {
    max-width: 100%;
  }

  .sign-out-btn {
    right: 5px;
    top: 10px;
  }

  .balance-container {
    flex-direction: column;

    .card {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 0.3rem;
      height: 4rem;
      margin: 0 auto;
      gap: 0.2rem;
      width: 95%;
    }

    h3 {
      font-size: 0.9rem;
      margin: 0;
    }

    h1 {
      font-size: 1.1rem;
    }

    button {
      padding: 0 0.4rem;
      font-size: 0.9rem;
    }
  }

  .line-graph-container {
    min-height: 12rem !important;
  }

  .pie-chart-container {
    width: 90%;
  }
}

@media (width < 390px) {
  .balance-container {
    .card {
      gap: 0.2rem;
    }

    h3 {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1rem;
    }

    button {
      padding: 0 0.4rem;
      font-size: 0.8rem;
    }
  }

  .pie-chart-container {
    display: none;
  }

  .no-transactions-text {
    font-size: 1rem;
  }
}

@media (width < 340px) {
  .line-graph-container {
    display: none;
  }

  .no-transactions-img {
    width: 200px;
  }
}
/* 
  Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in BootstrapXS
  
  Small devices (landscape phones, 576px and up)SM
  @media (min-width: 576px) { ... }
  
  Medium devices (tablets, 768px and up)MD
  @media (min-width: 768px) { ... }
  
  Large devices (desktops, 992px and up)LG
  @media (min-width: 992px) { ... }
  
  Extra large devices (large desktops, 1200px and up)Xl
  @media (min-width: 1200px) { ... }
  */
